*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

ul,li{
	list-style: none;
}

.color-blue{
	color: var(--color-blue-600) !important;
}

.color-black{
	color: #000 !important;
}

/* 카테고리별 추천 광고상품 */
.header-logo{
	width: 1020px;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 48px;
}

.header-logo .logo-coupang-link{
	display: inline-block;
	width: 100%;
}

.container{
	width: 1020px;
	margin: 0 auto;
}

.CategoryBestHeadline{
	margin-left: 2px;
	margin-bottom: 24px;
}

.CategoryBestHeadline>h2{
	font-size: 16px;
	font-weight: 500;
	line-height: 1.15;
}

.CategoryBestHeadline>h3{
	font-size: 24px;
	line-height: 1.15;
	font-weight: 700;
}

.CategoryBestProduct{
	display: flex;
	border-top: 1px solid;
	border-bottom: 1px solid;
	margin-bottom: 24px;
}

.CategoryBestProduct.life{
	border-color: var(--color-brown-300);
	color: var(--color-brown-300);
	--bcg: var(--color-brown-300);
}

.CategoryBestProduct.kitchen{
	border-color: var(--color-green-700);
	color: var(--color-green-700);
	--bcg: var(--color-green-700);
}

.CategoryNav{
	padding-top: 48px;
	padding-left: 24px;
}

.CategoryNav h2{
	width: 89px;
	margin-bottom: 8px;
	font-size: 24px;
	font-weight: 500;
	line-height: 1.15;
}

.CategoryNav .goLink {
	display: inline-block;
	line-height: 1.2;
	margin-bottom: 248px;
	padding-right: 10px;
	vertical-align: middle;
	background: url('../../assets/icon/angle-right-default.svg') no-repeat right center;
	background-size: 6px 10px; 
	color: #929292; 
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
}

.HashTagGroup .HashTagTitle{
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 500;
}

.HashTagList{
	width: 124px;
}

.HashTagGroup .HashTagItem{
	display: inline-block;
	height: 26px;
	line-height: 26px;
	border: 1px solid;
	margin-bottom: 12px;
	padding: 0 10px;
	font-size: 12px;
}

.SlideBanner{
	position: relative;
	width: 320px;
}

.BannerItem:not(:first-child){
	display: none;
}

.BannerItem{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.BannerItem .SlideBannerText,
.BannerItem .IndicateGroup{
	margin: 0 auto;
}

.BannerItem .SlideBannerText{
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 260px;
	height: 90px;
	bottom: 58px;
	background-color: var(--bcg);
	text-align: center;
	color: #fff;
}

.SlideBannerTextLarge{
	margin-bottom: 8px;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.2;
}

.SlideBannerTextSmall{
	font-size: 14px;
	line-height: 1.2;
}

.BannerItem .IndicateGroup{
	position: absolute;
	display: flex;
	justify-content: space-between;
	bottom: 22px;
	width: 32px;
}

.Indicator{
	width: 12px;
	height: 12px;
	border-radius: 12px;
	background-color: var(--color-gray-600);
}

.Indicator.active{
	background-color: var(--color-gray-700);
}

.productCardGroup{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}

.productCardGroup::after{
	position: absolute;
	top: 50%;
	content: '';
	width: 528px;
	height: 0.5px;
	background-color: #AAA9A9;
}

.productCard{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 160px;
	height: 300px;
	margin-top: 9px;
	padding: 0 4px;
}

.productCard:nth-child(3n-2){
	margin-left: 16px;
}

.productCard .productImage{
	margin-bottom: 12px;
}

.productCard .productName{
	margin-bottom: 12px;
	font-size: 14px;
	line-height: 1.2;
}

.productCard .productPrice,
.productPriceAndRocket{
	display: flex;
	align-items: center;
	font-size: 14px;
	line-height: 1.2;
}

.bold{	
	font-size: 18px;
	font-weight: 700;
}

.rocket-wrapper{
	margin-left: 6px;
	width: 54px;
	height: 14px;
}

.discount-type{
	color: var(--color-red-500);
	font-size: 14px;
	line-height: 1.2;
	align-self: start;
	margin-bottom: 4px;
}
