/* CSS 작성 */
html, body, *{
	padding: 0;
	margin: 0;
	color: var(--color-black)
}

ul,li{
	list-style: none;
}

a{
	text-decoration: none;
}

.container{
	width: 1020px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.Logo-header{
	margin-top: 100px;
	margin-bottom: 48px;
}

.logo{
	width: 176px;
	height: 40px;
}

.main-header{
	height: 28px;
	margin-bottom: 24px;
	line-height: 28px;
}

.main-header>*{
	display: inline;
	vertical-align: middle;
}

h2{
	color: var(--color-black);
	font-size: 24px;
}

h3{
	color: var(--color-gray--600);
	font-size: 16px;
}

.separator{
	color: var(--color-gray--6  00);
	font-size: 24px;
	margin: 0 10px;
}

.product-container>*:nth-child(1),
.product-container>*:nth-child(3),
.product-container>*:nth-child(4),
.product-container>*:nth-child(5){
	margin-bottom: 16px;
	margin-right: 16px;
}

.product-container>*:nth-child(2){
	margin-bottom: 16px;
}

.product-container>*:nth-child(7),
.product-container>*:nth-child(8){
	margin-right: 16px;
}

.big-image, 
.small-image{
	position: relative;
	float: left;
	height: 310px;
	border: 1px solid #000;
}

.big-image:hover, 
.big-image:focus, 
.small-image:hover,
.small-image:focus{
	border-color: var(--color-blue--600);
}

.big-image{
	width: 502px;
}

.small-image{
	width: 243px;
}

li > .move-product-page,
li > img{
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
}

.move-product-button{
	position: absolute;
	left: 20px;
	top: 248px;

	width: 42px;
	height: 42px;

	background-color: var(--color-opacity----20);
	color: var(--color-white);

	text-align: center;
	line-height: 42px;

	font-size: 14px;

	transition: width 0.3s ease, background-color 0.3s ease;
}

.move-product-button::after{
	content: ">";
}

li:hover .move-product-button::before,
li:focus .move-product-button::before{
	content: "구매하기 ";
}

li:hover .move-product-button,
li:focus .move-product-button{
	background-color: var(--color-blue--600);
	opacity: 1;
	width: 112px;
	transition: width 0.3s ease, background-color 0.3s ease, opacity;
}