*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,li{
  list-style: none;
}

/* ---------------------------------------------- */
/* 헤더                                            */
/* ---------------------------------------------- */
.header{
  width: 100%;
  border-bottom: 1px solid var(--color-gray-100);
}

.header__inner{
  width: 1020px;
  height: auto;
  margin: 0 auto;
}

.header__inner .button--category{
  width: 110px;
  height: 116px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-blue-600);
  border: none;
}

.button--category:focus {
  outline: none; 
  box-shadow: 0 0 0 1px var(--color-red-500); ; 
  border-radius: 4px;
}

.button--category-text{
  margin-top: 12px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  color: white;
}

/* ---------------------------------------------- */
/* 내비게이션                                        */
/* ---------------------------------------------- */
.navigation{
  display: none;
}

.navigation.is--active{
  position: absolute;
  top: 116px;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
}

.navigation__inner{
  position: relative;
  display: flex;
  width: 1020px;
  margin: 0 auto;
  z-index: 999;
}

.navigation__list a{
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  padding: 1px 0;
  padding-left: 20px;
  gap: 4px;
}

.depth-text{
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  color: #000;
}

.more-img-div{
  display: none;
}

a.is--active,
a.is--active .depth-text,
a:focus .depth-text,
a.is--active .icon,
a:focus .icon,
.depth_3 a:hover .depth-text,
.depth_3 a:focus .depth-text{
  color: var(--color-blue-600);
}

a:focus .more-img-div,
a.is--active .more-img-div{
  background-image: url("../../assets/icon/more-right-active.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.depth_1,
.depth_2,
.depth_3{
  padding: 10px 0;
}

.depth_1{
  width: 520px;
  height: 500px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.depth_1:has(a.is--active),
.depth_1:focus{
  width: 180px;
  box-shadow: none;
}

.depth_2{
  display: none;
}

.depth_2:focus,
.depth_2.is--active{
  position: absolute;
  top: 0;
  left: 180px;
  display: block;
  width: 180px;
  height: 500px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.depth_3{
  display: none;
}

.depth_3.is--active{
  position: absolute;
  top: 0;
  left: 180px;
  display: block;
  width: 180px;
  height: 500px;
}

.depth_1:has(.depth_3.is--active) .depth_1_a{
  width: 180px;
}

.depth_1:has(.depth_3.is--active) {
  width: 540px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.depth_2:has(.depth_3.is--active){
  box-shadow: none;
}

.depth_1:has(.depth_3.is--active)::after,
.depth_2:has(.depth_3.is--active)::after{
  display: block;
  content: "";
  width: 2px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 180px;
  background-color: var(--color-gray-100);
}

/* ---------------------------------------------- */
/* 메인 콘텐츠                                       */
/* ---------------------------------------------- */
/* 메인 콘텐츠 영역의 최소 높이 설정 */
.main{
  min-height: 52rem;
}


/* ---------------------------------------------- */
/* 푸터                                            */
/* ---------------------------------------------- */
.footer{
  height: 349px;

}

.footer>*{
  display: flex;
  align-items: center;
  justify-content: center;
}

.CustomerGuide{
  height: 40px;
  background-color: var(--color-gray-200);
}

.text-container{
  display: flex;
  align-items: center;
}

.CustomerGuide .text{
  padding: 5px 14px 6px 14px;
  color: var(--color-gray-800);
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  font-weight: 400;
}

.CustomerGuide .divider{
  color: var(--color-gray-800);
  font-size: 12px;
  margin-top: -3px;
}

.CoupangInformation-container{
  display: flex;
  height: 143px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--color-gray-800);
  gap: 63px;
}

.CoupangInformation-container .logo{
  width: 176px;
  height: 40px;
  background-image: url("../../assets/logo/logo-mono.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
  overflow: hidden;
  white-space: nowrap;
}

.CoupangInformationList,
.CustomerCenter{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.CustomerCenter .border{
  display: inline-block;
  width: 1px;
  height: 13px;
  margin: 0 12px;
  border-left: 1px solid var(--color-gray-800);
}

.CustomerCenter .phone{
  font-size: 48px;
  font-weight: bold;
}

.PaymentGuarantee{
  width: 282px;
}

.PaymentGuarantee .title{
  margin-bottom: 8px;
  font-weight: 700;
}

.PaymentGuarantee .text{
  font-weight: 400;
}

.text.bold,
.bold{
  font-weight: 700;
}

.CoupangInformation{
  height: 207px;
}

.CopyrightSNS{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 102px;
  background-color: var(--color-gray-900);
}

.CopyrightSNS .CopyrightSNSGroup{
  width: 1020px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.CopyrightSNS .CopyrightSNSGroup .text{
  font-size: 12px;
  font-weight: 200;
  line-height: 1.2;
  color: var(--color-gray-200);
}

.sns{
  display: flex;
  gap: 10px;
}

.instagram-img{
  width: 34px;
  height: 34px;
  border-radius: 34px;
  background : linear-gradient(
    174.12deg, #2856EB 2%, #BC1888 20%,
    #cc2266 35%, #dc2743 53%, #e6683c 76%,
    #f89433 96%
    )
}